extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

      
        h1 Jeremy O'Brien

      
        p Full Stack JavaScript Developer


        .about-bio

        
          p Five years of digital advertising and marketing experience, plus the modern technical skills needed to develop dynamic, business solutions for your company and clients.  You wish NPM had such a comprehensive package.


      .skills-contact-box.box
        h6 Skills

        
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li React

        h6 Contact Info

        
        ul
          li 248-756-6365
          li jeremy.j.obrien1@gmail.com

       
        a.btn-link(href='https://www.linkedin.com/in/jeremy-o-brien-24b396121/', target="_blank") LinkedIn
        a.btn-link(href='https://github.com/Jeremyobrien', target="_blank") GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back