extends layout.pug

block content

  article.portfolio-intro

  
    h1 Hey, Potential Employers

  
    p This portfolio utilizes Express.js to provide you with a convenient overview of some of my work.


  article.portfolio-project-thumbs
    .projects-box.box.grid

  
      each project in projects
        .cell
          a(href= `https://jeremys-portfolio-site-10a8370559dc.herokuapp.com/project/${project.id}`)
            img.thumbnail(src= `${project.image_urls[0]}`, alt= `${project.project_name}`)
            h5= project.project_name


